#destinations_section {
    >article {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-areas:
            "opener opener opener"
            ". head ."
            ". title ."
            ". body ."
            ". image ."
            "button button button";
        @include md{
            grid-template-columns: 40px 40% auto 40px;
            grid-template-areas:
                "opener opener opener opener"
                ". head title ."
                ". head body ."
                ". image body ."
                ". image button ."
        }


        #place_image {
            background-image: url("../img/destinations/place.jpg");
            background-position: center;
            background-size: cover;
            height: 300px;
            grid-area: opener;
            display: flex;
            justify-content: center;
            align-items: center;


            @include md {
                justify-content: flex-start;
                align-items: flex-end;

            }

            >h1 {
                font-size: rem-calc(40);
                font-weight: 300;

                line-height: 0;
                color: $black;


                @include md {
                    font-size: rem-calc(65);
                    color: $white;
                }

                @include lg {
                    font-size: rem-calc(80);
                }
            }
        }

        #colorfulhomes_image {
            background-image: url("../img/destinations/colorfulhomes.jpg");
            background-position: center;
            background-size: cover;
            height: 300px;
            margin: 0px 25px;
            grid-area: head;
            margin-top: 30px;

            >h2 {
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                font-size: rem-calc(25);
                text-align: center;
                color: $white;
                background-color: $bg-blue;
                margin-left: 50px;
                margin-right: 50px;
                margin-top: -15px;
                padding: 10px;

            }
        }

        #naples_title {
            grid-area: title;

            >h3 {
                font-weight: 300;
                font-size: rem-calc(50);
                text-align: center;
                color: $white;
                background-color: $bg-blue;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: -20px;

            }


        }

        #destination_type {
            text-align: left;
            font-family: 'Ubuntu', sans-serif;
            grid-area: body;
            border-left: solid 5px $bg-blue;
            padding-left: 20px;
            margin-top: -50px;
            padding-top: 10px;
            font-size: rem-calc(14);
            line-height: 19px;
            margin-right: 20px;
            padding-bottom: 20px;

        }

        #italyalley {
            background-image: url("../img/destinations/italyalley.jpg");
            background-position: center;
            background-size: cover;
            height: 300px;
            // margin: 0px 25px;
            grid-area: image;
        }

        #destination_button {
            grid-area: button;
            display: flex;
            justify-content: center;


            >button {
                width: 100%;
                margin: 0px 10px;
                margin-bottom: 30px;
                font-size: rem-calc(30);
            }

        }
    }
}