#destinations_section
{
    >article
    {
    #place_image
    {
        background-image: url("../img/destinations/place.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    #colorfulhomes_image
    {
        background-image: url("../img/destinations/colorfulhomes.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    #italyalley_image
    {
        background-image: url("../img/destinations/italyalley.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    }
}