#history_section
{
    >article
    {
        #rome_image
        {
            background-image: url("../img/history/rome.jpg");
            background-position: center;
            background-size: cover;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include md{
            justify-content: flex-start;
            align-items: flex-end;
            }

            >h1{
            font-size: rem-calc(40);
            font-weight:300;
            
            line-height: 0;
            color: $black;
            

            @include md{
            font-size: rem-calc(65);
            color: $white;
            }
            @include lg{
                font-size: rem-calc(80);
            }
            }
        }

        #little{
            background-color: $bg-blue;
            color: $white;
            padding: 20px;
            text-align: center;
            font-weight: 300; 
        }

        #sardinia_image
        {
            background-image: url("../img/history/sardinia.png");
            background-position: center;
            background-size: cover;
            height: 200px;
        }

        #sardinia_title{
            font-size: rem-calc(20);
            
        }

        #church_image
        {
            background-image: url("../img/history/church.png");
            background-position: center;
            background-size: cover;
            height: 300px;
        }

        #milan_title{
            font-size: rem-calc(20);
        }

        #flag_image
        {
            background-image: url("../img/history/flag.png");
            background-position: center;
            background-size: cover;
            height: 200px;
        }
    }

}