#travel_section
{
    >article
    
    #plane_image
    {
        background-image: url("../img/travel/airplane.jpg");
        background-position: center;
        background-size: cover;
        height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            

            @include md{
                justify-content: flex-start;
            align-items: flex-end;
            
            }
            
            >h1{
            font-size: rem-calc(40);
            font-weight:300;
            
            line-height: 0;
            color: $white;
            

            @include md{
            font-size: rem-calc(65);
            color: $white;
            }
            @include lg{
                font-size: rem-calc(80);
            }
            }
    }
    #water_image
    {
        background-image: url("../img/travel/water.jpg");
        background-position: center;
        background-size: cover;
        height: 300px;
    }
    #airport_image
    {
        background-image: url("../img/travel/airport.jpg");
        background-position: center;
        background-size: cover;
        height: 300px;
    }
}