#welcome_section
{
    >article
    {
        #welcome_image
        {
            background-image: url("../img/welcome/welcome.jpg");
            background-position: center;
            background-size: cover;
            height: 500px;
            margin-bottom: -100px;
        }


        #welcome-grid{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". content .";

            
        #welcome-content{
            grid-area: content;
            background-color: $bg-blue;
            color: $white;
            text-align: center;
            padding: 12px;
            margin-bottom: 30px;
            @include md{
                margin-bottom: 50px;
            }
            @include lg{
                margin-bottom: 60px;
            }
            @include xl{
                margin-bottom: 70px;
            }
         
            >h2{

                margin-bottom: 10px;
                margin-top: 15px;
                font-size: rem-calc(20);
            @include md{
                font-size: rem-calc(45);
            }
            @include lg{
                font-size: rem-calc(60);
            }
            
            }

            >p{
                padding: 0px 60px;
                font-size: rem-calc(13);
            @include md{
                font-size: rem-calc(14);
                padding: 0px 100px;
            }
            @include lg{
                font-size: rem-calc(16);
                padding: 0px 140px;
            }
            @include xl{
                padding: 0px 180px;
            }
            }
            
        }

        @include md{
            grid-template-columns: 10% auto 10%;
        }

        @include xl{
            grid-template-columns: auto 1000px auto;
        }
        
        }
    }
}


