/* =============
    Header
============= */

#header {
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". header .";
    background-color: $white;

    #navigation {
        display: grid;
        grid-template-columns: 16px auto 60%;
        grid-template-areas: ". burger ."
            ". nav .";

            @include md{
                grid-template-columns: 100%;
                grid-template-areas: "nav";
            }

        #burger_container {
            grid-area: burger;
            font-size: rem-calc(60);
            color: $bg-blue;
            margin-bottom: -60px;
            

            @include md {
                display: none !important;
            }
        }

        #nav_container {
            grid-area: nav;
            display: none;
            margin-top: 60px;
            background-color: $bg-blue;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            padding: 20px;
            margin-bottom: 10px;
            

            ul {
                height: 100%;
                li {

                    padding: 9px 0px;
                    a:link,
                    a:visited {
                        color: $white;
                        padding: 0px 0px;
                        text-decoration: none;
                        transition: 0.25s;
        
                        @include lg {
                            color: $white;
                        }
        
                        &:hover,
                        &:active {
                            color: $italy-red;
                        }
                    }
                }
            }

            @include md {
                display: block !important;
                background-color: $bg-blue;
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                padding: 20px;
                
                >ul {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

    #title_banner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        >h1 {
            align-self: center;
            order: 2;
            grid-area: header;
            font-weight: 300;
            font-size: rem-calc(50);

            @include md {
                font-size: rem-calc(100)
            }

            >span {
                font-weight: 700;
                color: $italy-red;
            }

            >form {

                order: 1;
            }
        }

        @include md {

            align-items: center;

            padding-bottom: 32px;

            h1 {
                order: 1;
            }

            >form {
                order: 2;
            }

        }



    }
}